.classification {
    width: 400px;
    height: 450px;
    text-align: center;
    background-color: white;

    p {
        margin-top: 20px;
        padding: 20px;
    }

    button {
        color: white;
        font-weight: bold;
        padding: 20px;
        border-radius: 30px;
        margin: 20px;
        border: none;
        cursor: pointer;
    }

    .pol {
        background-color: red;
    }

    .nopol {
        background-color: green;
    }

    .new-tweet {
        color: black;
    }
}