.aboutus-container {
    background-color: white;
    width: 55%;
    padding: 20px;

    
    @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-text {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .aboutus-data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @media (max-width: 600px) {
            justify-content: center;
            flex-direction: column;
        }

        .aboutus-card {
            img {
                width: 150px;
                border-radius: 10px;
                
                @media (max-width: 600px) {
                    display: block;
                    margin: auto;
                    margin-top: 10px;
                }
            }

            p {
                text-align: center;
            }

            a {
                text-align: center;
                display: block;

                img {
                    margin-top: 10px;
                    width: 30px;
                }
            }
        }
    }

    .aboutus-textContent {
        text-align: justify;
    }
}