.chartsHome-container {
    width: 40%;
    // height: auto;

    .chart-home {
        height: 50%;
        width: 100%;
    }

    .map {
        height: 50%;

        .leaflet-marker-icon.leaflet-interactive {
            pointer-events: none;
        }
    }
}