.lastAnalized-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 104px);
    width: 40%;
    margin-right: 30px;

    .ultimos-p {
        margin: 0 20px 20px;
        text-align: center;

        @media (max-width: 1000px) {
            font-size: 22px;
        }
    }

    .lastAnalized-tweet-list {
        overflow-y: auto;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}