.lastAnalized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 104px);

    .ultimos-p {
        margin: auto 20px;
    }

    .lastAnalized-tweet-list {
        overflow-y: scroll;
    }
}