.tweet-container {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    p {
        margin: 10px 0;
    }

    .tweet-one {
        text-align: start;
        
        .username-p {
            font-weight: bold;
        }
    }

    .tweet-two {
        text-align: end;

        p {
            white-space: nowrap;
            margin-left: 10px;
        }
    }
}