header {
    background-color: white;
    margin-bottom: 20px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;

        h2 {
            margin: 20px 0;

            a {
                text-decoration: none;

                &:focus {
                    color: black;
                }
            }
        }

        .search {
            input {
                padding: 10px;
                padding-left: 20px;
                padding-right: 30px;
                border-radius: 5px;
                width: 300px;
                border: 1px solid grey;
                transition: .3s;

                &:focus {
                    outline: none;
                    -webkit-box-shadow: 0px 0px 11px -3px #2F6DF1;
                    -moz-box-shadow: 0px 0px 11px -3px #2F6DF1;
                    box-shadow: 0px 0px 11px -3px #2F6DF1;
                    width: 400px;
                }
            }
        }

        .header-about {
            background-color: #2F6DF1;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            color: white;
            font-weight: 700;
            
            &:hover {
                background-color: #004ffa;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }
}